!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/socket.io/socket.io.js')
    script(type='text/javascript', src='/lib/jquery-1.7.1.min.js')
    script(src='/javascripts/test.js')

  body!= body