!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/socket.io/socket.io.js')
    script(type='text/javascript', src='/lib/jquery-1.7.1.min.js')
    script(type='text/javascript', src='/javascripts/Board.js')
    script(type='text/javascript', src='/javascripts/Piece.js')
    script(type='text/javascript', src='/javascripts/Game.js')
    script(type='text/javascript', src='/javascripts/Engine/Engine.js')
    script(type='text/javascript', src='/javascripts/Engine/PieceFactory.js')
    script(type='text/javascript', src='/javascripts/Engine/Position.js')
    script(type='text/javascript', src='/javascripts/start.js')

  body!= body